[submodule "src/public_html/assets/scripts/bootbox"]
	path = src/public_html/assets/scripts/bootbox
	url = git://github.com/makeusabrew/bootbox.git
[submodule "src/public_html/assets/scripts/bootstrap"]
	path = src/public_html/assets/scripts/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "src/public_html/assets/scripts/tiny_mce"]
	path = src/public_html/assets/scripts/tiny_mce
	url = git://github.com/spekkionu/tinymce.git
[submodule "src/system/library/vendor/HTMLPurifier"]
	path = src/system/library/vendor/HTMLPurifier
	url = git://github.com/spekkionu/htmlpurifier.git
[submodule "src/system/library/vendor/WideImage"]
	path = src/system/library/vendor/WideImage
	url = git://github.com/spekkionu/wideimage.git
