# Cache and userfiles
/system/library/vendor
/public/assets/vendor
/system/logs
/system/cache
/system/userfiles
/system/configs/config.local.php
/public/cached
/public/userfiles
/public/wincache.php
/public/phpinfo.php
/public/dummy.php
/public/apc.php
/public/xhprof
/tests/data/cache
/tests/_data/cache
/tests/_log
/build
/bin
/composer.phar

# OS Files
Thumbs.db
.DS_Store
*~

# IDE Files
.buildpath
.externalToolBuilders
.project
.settings
nbproject
*.LCK
*.kpf
*.komodoproject
.tmp_*
_notes
.idea
.cache
*.sublime-project
*.sublime-workspace
crash.txt

# Source Control
.svn
.hg
.hgignore
.hgexternals
CVS
.bzr
