<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
  <testsuites>
    <testsuite name="zfapp-unittests">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="zfapp"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/system</directory>
      <exclude>
        <directory suffix=".php">src/system/cache</directory>
        <directory suffix=".php">src/system/configs</directory>
        <directory suffix=".php">src/system/logs</directory>
        <directory suffix=".php">src/system/scripts</directory>
        <directory suffix=".php">src/system/library/vendor</directory>
        <file>src/system/application.php</file>
        <file>src/system/mvc.php</file>
    </exclude>
    </whitelist>
  </filter>
</phpunit>
